apiVersion: apps/v1
kind: Deployment
metadata:
  name: project-neon-service
  namespace: uat
  labels:
    app: project-neon-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: project-neon-service
  template:
    metadata:
      labels:
        app: project-neon-service
    spec:
      serviceAccountName: project-neon-service-sa
      containers:
        - name: project-neon-service
          image: project-neon-service-image
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "300m"
              memory: "256Mi"
            limits:
              cpu: "800m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: uat
            - name: CONSTANT_APP_ENV
              value: uat